.DS_Store
.editorconfig
.git*
**/.dockerignore
**/*.env*
**/*.log
**/cloudbuild.yaml
**/Dockerfile
**/docker-compose.yml
**/node_modules
**/README.md

backend/create-dev-db.sh
backend/dist
backend/test

frontend/local_reverse_proxy.conf
frontend/.coverage
frontend/.next
frontend/.results

