{
  "rules": {
    "@roq/filename-suffix-mismatch": "off",
    "@roq/no-invalid-filename-chars": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-types": "off",
    "@roq/dir-contains-index": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@roq/no-invalid-dirname": "off"
  }
}
